%h2.text-center
  Create Chat Room
  %br
  %small
    = link_to 'Back', chat_rooms_path, class: 'btn btn-primary btn-sx', "data-cy"=>"chat_room_form_back_btn"
    
= form_for @chat_room do |f|
  - if @chat_room.errors.any?
    #error_explanation{"data-cy" => "chat_room_errors"}
      %h2
        = pluralize(@chat_room.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @chat_room.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, class: 'form-control', "data-cy"=>"chat_room_name_textbox"

  = f.submit "Save", class: 'btn btn-primary', "data-cy"=>"create_chat_room_btn"
